.header {
  display: flex;
  justify-content: center;
  min-height: 80px;
}

.headerContent {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.headerBtns {
  background: #f0f8ff 0% 0% no-repeat padding-box;
  border-radius: 5px;
  border: none;
  padding: 8px;
  opacity: 1;
  min-width: 116px;
  span {
    color: var(--unnamed-color-4b9ce2);
    text-align: right;
    font: normal normal bold 15px/20px Nunito;
    letter-spacing: 0px;
    color: #4b9ce2;
    opacity: 1;
    margin-left: 6px;
  }
  margin-right: 20px;
}
