@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

* {
  font-family: 'Nunito', sans-serif;
}

.text-center {
  text-align: center;
}

.dablue {
  color: #4b9ce2;
}
.dabluebg {
  background-color: #4b9ce2;
}

a {
  padding: 5px;
  text-decoration: none;
}

label {
  font-weight: 600;
}

button {
  cursor: pointer;
}

.capitalize {
  text-transform: capitalize;
}
