@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

* {
  font-family: 'Nunito', sans-serif;
}

.text-center {
  text-align: center;
}

.dablue {
  color: rgb(77, 152, 238);
}

a {
  padding: 5px;
  text-decoration: none;
}

label {
  font-weight: 600;
}
